<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="SimpleMDE" lan="LAN_PLUGIN_SIMPLEMDE_NAME" version="1.0" date="2017-02-03" compatibility="2.0" installRequired="true">
	<author name="Lóna Lore" url="https://github.com/lonalore/simplemde"/>
	<summary lan="LAN_PLUGIN_SIMPLEMDE_SUMM">e107 integration for SimpleMDE Markdown Editor</summary>
	<description lan="LAN_PLUGIN_SIMPLEMDE_DESC">A drop-in JavaScript textarea replacement for writing beautiful and understandable Markdown. The WYSIWYG-esque editor allows users who may be less experienced with Markdown to use familiar toolbar buttons and shortcuts. In addition, the syntax is rendered while editing to clearly show the expected result. Headings are larger, emphasized words are italicized, links are underlined, etc. SimpleMDE is one of the first editors to feature both built-in autosaving and spell checking.</description>
	<category>content</category>
	<keywords>
		<word>simplemde</word>
		<word>markdown</word>
		<word>editor</word>
		<word>wysiwyg</word>
	</keywords>
	<copyright>GNU/GPL</copyright>
	<adminLinks>
		<link url='admin_config.php' description='LAN_CONFIGURE' icon128="images/simplemde_128.png" icon='images/simplemde_32.png' iconSmall='images/simplemde_16.png' primary='true' >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="autoDownloadFontAwesome">2</pref>
		<pref name="autofocus">0</pref>
		<pref name="autosaveEnabled">0</pref>
		<pref name="autosaveDelay">10000</pref>
		<pref name="forceSync">0</pref>
		<pref name="indentWithTabs">1</pref>
		<pref name="initialValue"></pref>
		<pref name="lineWrapping">1</pref>
		<pref name="allowAtxHeaderWithoutSpace">0</pref>
		<pref name="strikethrough">1</pref>
		<pref name="underscoresBreakWords">0</pref>
		<pref name="placeholder"></pref>
		<pref name="promptURLs">0</pref>
		<pref name="singleLineBreaks">1</pref>
		<pref name="codeSyntaxHighlighting">0</pref>
		<pref name="spellChecker">1</pref>
		<pref name="styleSelectedText">1</pref>
		<pref name="tabSize">2</pref>
		<pref name="toolbarTips">1</pref>
		<pref name="toggleBold">Cmd-B</pref>
		<pref name="toggleItalic">Cmd-I</pref>
		<pref name="drawLink">Cmd-K</pref>
		<pref name="toggleHeadingSmaller">Cmd-H</pref>
		<pref name="toggleHeadingBigger">Shift-Cmd-H</pref>
		<pref name="cleanBlock">Cmd-E</pref>
		<pref name="drawImage">Cmd-Alt-I</pref>
		<pref name="toggleBlockquote">Cmd-</pref>
		<pref name="toggleOrderedList">Cmd-Alt-L</pref>
		<pref name="toggleUnorderedList">Cmd-L</pref>
		<pref name="toggleCodeBlock">Cmd-Alt-C</pref>
		<pref name="togglePreview">Cmd-P</pref>
		<pref name="toggleSideBySide">F9</pref>
		<pref name="toggleFullScreen">F11</pref>
		<pref name="eToken">1</pref>
		<pref name="enableEditor">1</pref>
	</pluginPrefs>
	<dependencies>
		<extension name='dom'/>
		<extension name='xml'/>
	</dependencies>
</e107Plugin>